* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: "Poppins", sans-serif;
  }



  /*Header*/
li, a {
	font-family: 'Inter', sans-serif;
	color: black;
	text-decoration: none;
	list-style: none;
}

.nav_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	border-bottom: 1px solid black;
	background-color: #E0F4FF;
}
.nav_logo{
	cursor: pointer;
	width: 100px;
	margin: 0;

}
.nav_links li{
	display: inline-block;
	padding: 10px 20px;
}
li a{
	transition: all 0.3s ease 0s;
}
li a:hover{
	color: gray;
}
/*Header*/


/*Sort Filter*/
.hoddie-filter{
	display: grid;
	flex-direction: column;
	width: 200px;
	margin-top: 50px ;

  }

  .filer_header{
	padding-top: 20px;
  }


  .button-filter {
	border: 1px solid #000000;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	background-color: transparent;
	color: #000000;
	cursor: pointer;
	width: 90%;
	margin: 5px 10px 5px 10px;
  }
  .button-filter:hover {
	background-color: lightgrey;
	transition: all ease 0.3s;
  }
  #clothesList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: .5em;
	padding: 2em 0;
	margin: 0em 2em;
	position: absolute;
	top: 50px;
	left: 200px;
  }
  .image-container {
	text-align: center;
  }
  img {
	max-width: 100%;
	object-fit: contain;
	margin-top: 1.5em;
  }
  .button-filter-colour{
	margin-top: 30px;
  }

  .button-filter-space{
	margin-top: 30px;

  }
/*Sort Filter*/




/*signin*/

.signin-form-header{
	margin: 25px;
}

#signin-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	border: solid black 1px;
	max-width: 30rem;
	border-radius: 0.5rem;
	margin-top: 50px;
}
.form-box{
	margin-bottom: 1.25rem; 
}
.input{
	border: solid black 1px;
	border-radius: 5px;
	padding: 1rem;
	height: 3rem;
	background-color: white;
	width: 400px;
}
.signin-form-button{
	border: 1px solid black;
	margin-bottom: 1.25rem;
	width: 200px;
	height: 50px;
	border-radius: 0.5rem;
}

.suport-text-box{
	width: 100%;
}

/*signin*/






















  @media screen and (max-width: 720px) {
	img {
	  max-width: 100%;
	  object-fit: contain;
	  height: auto;
	}
	.card {
	  max-width: 10em;
	  margin-top: 1em;
	}
	#clothesList {
	  grid-template-columns: auto auto;
	  grid-column-gap: 0,5em;
	  margin: 1em;
	  top: auto;
	  left: auto;

	}
  }

  @media screen and (max-width: 420px) {
	img {
	  max-width: 100%;
	  object-fit: contain;
	  height: auto;
	}
	.card {
	  max-width: 10em;
	  margin-top: 1em;
	}
	#clothesList {
	  grid-template-columns: none;
	}
  }
